.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.log
docker-compose.yaml
app/__pycache__
app/templates
app/static/*.png
app/static/*.jpg
app/static/*.gif
app/static/*.ico
nginx
addjoketype
xanderMake
data
archives
skeleton
XanderSSD

